# ===== 应用配置 =====
APP_NAME=Learning-Go
DEBUG=true

# ===== KataGo =====
KATAGO_BINARY=./katago/katago.exe
KATAGO_MODEL=./katago/models/b10c384h6.bin.gz
KATAGO_CONFIG=./katago/katago_gtp.cfg
KATAGO_ANALYSIS_CONFIG=./katago/katago_analysis.cfg
